@import '../variables';

.left-bar {
    font-family: "Lato", sans-serif;
    background:linear-gradient(180deg, rgba(38,109,232,1) 0%, rgba(119,42,208,1) 100%);
    color:white;
    a{
       text-decoration:none!important;
        color:inherit;
    }
    .menu-item{
        .bi{
            color:$light;
        }
        display:flex;
        justify-content: space-between;
        font-size:18px;
        transition-duration: 300ms;
        &:hover{
            background:$indigo;
        }
    }
}
