@import '../variables';

.left-bar {
    font-family: "Lato", sans-serif;
    background:linear-gradient(180deg, rgba(38,109,232,1) 0%, rgba(119,42,208,1) 100%);
    min-width: 10%;
    max-width:20%;
    width: auto;
    min-height:95vh;
    height: auto;
    color:white;
    a{
       text-decoration:none!important;
        color:inherit;
    }
    .menu-item{
        .bi{
            color:$light;
        }
        width: 100%;
        font-size:18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor:pointer;
        transition-duration: 300ms;
        &:hover{
            background:$indigo;
        }
    }
}
